@use "../../variables" as v;

.movie-hero {
  height: 747px;
  margin-bottom: 2rem;
  position: relative;
  background-color: #000000;
}

@media (max-width: v.$movie-page-small) {
  .movie-hero {
    height: 300px;
    margin-bottom: 0;
  }
}
