@use "../../variables" as v;

.movie-hero {
  height: 747px;
  margin-bottom: 2rem;
  position: relative;
  background-color: #000000;
}

.favorite-button-container {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}

@media (max-width: v.$movie-page-small) {
  .movie-hero {
    height: 400px;
    margin-bottom: 0;
  }
}
