@use "../../variables" as v;

.cast-member {
  padding: 1rem;
  width: 15rem;

  img {
    background-color: v.$primary-color-light;
    width: 100%;
    height: auto;
  }

  span {
    color: v.$secondary-color;
  }
}
