@use "../../variables" as v;

.actor-link {
  &:hover img,
  &:focus img {
    transform: scale(1.1);
  }
}
.cast-member {
  justify-self: center;
  color: v.$text-color;

  .image-container {
    height: auto;
    overflow: hidden;
  }

  img {
    background-color: v.$primary-color-light-alt;
    transition: all 0.25s ease-in-out;
    height: auto;
  }

  span {
    color: v.$secondary-color;
  }

  .character {
    color: #cccccc;
  }
}
