@use "../../variables" as v;

.cast-member {
  justify-self: center;
  // width: 15rem;
  width: 100%;

  img {
    background-color: v.$primary-color-light;
    width: 100%;
    height: auto;
  }

  span {
    color: v.$secondary-color;
  }
}
