@use "../../variables" as v;

.search-results-panel {
  z-index: -1;
  position: absolute;
  padding: 2.67rem 0 0.5rem 0;
  inset: 12% 0 auto 0;
  width: 100%;
  border-radius: 0.25rem;
  background-color: v.$primary-color-dark;
  box-shadow: -4px 0 8px rgba(0, 0, 0, 0.5), 4px 0 8px rgba(0, 0, 0, 0.5),
    0 4px 8px rgba(0, 0, 0, 0.5);

  .search-results {
    display: flex;
    flex-direction: column;
    max-height: 600px;
    overflow: hidden;
  }

  .no-results-container {
    width: 100%;
    height: 149px;
  }

  .no-results {
    color: v.$secondary-color;
    font-size: 1.125rem;
    font-weight: 700;

    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);

    text-align: center;
  }
}

// @media (max-width: 1146px) {
//   .search-results-panel {
//     padding-top: 2.75rem;
//   }
// }

// @media (max-width: 810px) {
//   .search-results-panel {
//     padding-top: 4.1rem;
//   }
// }

// @media (max-width: 700px) {
//   .search-results-panel {
//     width: 90vw;
//   }
// }
