@use "../../variables" as v;

.search-results {
  z-index: -1;
  position: absolute;
  display: none;
  margin: 0 auto;
  // note-to-self - 79% top
  inset: 12% 0 auto 0;
  width: 100%;
  // dummy value
  height: 200px;
  border-radius: 0.25rem;
  background-color: v.$primary-color-dark;
  box-shadow: -4px 0 8px rgba(0, 0, 0, 0.5), 4px 0 8px rgba(0, 0, 0, 0.5),
    0 4px 8px rgba(0, 0, 0, 0.5);
}
