@use "../../variables" as v;
.main {
  color: v.$text-color;
  margin-top: -2rem;
}

.flex-container {
  display: flex;
  gap: 0.25rem;
  justify-content: center;
}

@media (max-width: 600px) {
  .flex-container {
    flex-direction: column-reverse;
  }
}
