@use "../../variables" as v;
.main {
  // background-color: v.$primary-color;
  color: v.$text-color;
  margin-top: -2rem;
}

.flex-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
