@use "../../variables" as v;
.movie-details {
  margin: 2.5rem 0 2rem 0;
  padding: 0.5rem;
  background-color: v.$primary-color-dark;
  width: 13rem;
  align-self: flex-start;

  h2 {
    display: none;
    text-align: center;
  }

  h4 {
    color: v.$secondary-color;
    margin-bottom: 0.125rem;
  }

  p,
  li {
    font-size: 1.1rem;
  }

  p,
  ul {
    margin-bottom: 0.375rem;
  }
}

@media (max-width: 600px) {
  .movie-details {
    width: 100%;
    margin-top: 0;
    padding-top: 2.5rem;

    h2 {
      display: block;
      padding-bottom: 0.5rem;
    }
  }
}
