@use "../../variables" as v;
.main-content {
  color: v.$text-color;
  display: flex;
  // The purpose of this min-height is to prevent the footer from jumping up on load
  min-height: 613px;

  .actor-profile {
    margin: 0 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;

    img {
      background-color: v.$primary-color-light-alt;
      max-width: 350px;
    }

    & > * {
      width: 350px;
      height: auto;
    }
  }

  .movie-header-and-cards {
    flex-grow: 1;
  }
}

@media (max-width: 716px) {
  .main-content {
    flex-direction: column;

    .actor-profile {
      img {
        align-self: center;
      }
      & > * {
        width: 100%;
      }
    }
  }
}
