@use "../../variables" as v;
.main-content {
  color: v.$text-color;
  display: flex;

  .actor-profile {
    margin: 0 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;

    img {
      background-color: v.$primary-color-light-alt;
    }

    & > * {
      width: 350px;
      height: auto;
    }
  }

  .movie-cards-container {
    flex-grow: 1;
  }
}
