.cast-section {
  padding-bottom: 2rem;

  h2 {
    text-align: center;
    margin-bottom: 0.5rem;
  }

  .cast-container {
    width: 70vw;
    margin: 0 auto;
    display: grid;
    justify-content: center;

    grid-template-columns: repeat(auto-fit, 200px);
    gap: 1rem;
  }
}

@media (max-width: 600px) {
  .cast-container {
    width: 100% !important;
  }
}
