@use "../../variables" as v;

.movie-info {
  background-color: transparent;
  z-index: 10;
  position: absolute;
  top: 50%;
  transform: translateY(-55%);
  width: 40%;
  padding-left: 3rem;
  font-weight: 500;
  text-shadow: 1px 1px 2px black;

  .header {
    color: v.$secondary-color;
    font-size: 2.5rem;
  }

  .header-small {
    color: v.$secondary-color;
    font-size: 2rem;
  }

  .header-smallest {
    color: v.$secondary-color;
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.125rem;
    color: #ffffff;
  }

  h3 {
    padding-top: 1rem;
  }

  .key-info {
    white-space: nowrap;
  }

  p {
    margin-top: 0.25rem;
  }

  .star-icon {
    color: v.$tertiary-color;
    transform: translateY(2px);
    margin-right: 2px;
  }
}

.buttons-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: start;
  flex-wrap: wrap;
  gap: 0.5rem;
}

@media (max-width: v.$movie-page-small) {
  .movie-info {
    width: 100%;
    padding: 0 1rem 0 1rem;
    .header {
      font-size: 2rem;
    }
    .header-small {
      font-size: 1.5rem;
    }
    .header-smallest {
      font-size: 1.1rem;
    }
    h2,
    h3 {
      font-size: 1rem;
    }

    p {
      font-size: 0.75rem;
    }
  }

  .buttons-container {
    transform: scale(75%, 75%);
    transform-origin: top left;
  }
}
