@use "../../../variables" as v;

.load-more-button {
  color: #eeeeee;
  font-size: 1.5rem;
  width: 16rem;
  height: 4rem;
  background-color: v.$secondary-color;
  margin-bottom: 3.5rem;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.25s ease-in-out;

  &:hover,
  &:focus {
    background-color: v.$primary-color;
    color: v.$secondary-color;
    outline: v.$secondary-color;
    border: 2px solid v.$secondary-color;
  }
}
