@use "../../variables" as v;

.movie-card {
  background-color: v.$primary-color-light;
  color: v.$secondary-color;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;

  article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  img {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    width: 100%;
    transition: all 0.25s ease-in-out;
  }

  &:hover,
  &:focus {
    border: 2px solid v.$tertiary-color;
    outline: none;
  }

  &:hover img,
  &:focus img {
    filter: saturate(175%) contrast(115%);
  }
}

.title {
  padding: 0.25rem 0.5rem 0 0.5rem;
  font-size: 1.1rem;
}

.release-year-and-score {
  display: flex;
  justify-content: space-between;
}
.release-year {
  color: #ffffff;
  padding: 0 0.5rem 0.5rem 0.5rem;
  font-size: 0.8rem;
}

.score {
  color: v.$tertiary-color;
  padding: 0 0.5rem 0.5rem 0.5rem;
  font-size: 0.9rem;
}
