@use "../../variables" as v;
@use "../../partials/defaultButton";

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

.icon {
  font-size: 1.1rem;
  margin-bottom: 1px;
}
