@use "../../variables" as v;

.video-background {
  position: fixed;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.video {
  position: fixed;
  background-color: v.$primary-color-dark;
  width: 1200px;
  height: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
