@use "../../variables" as v;

.search-and-results {
  z-index: 9999;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  min-width: 340px;
}
.search-bar-container {
  height: 57%;
  min-height: 35px;
  width: 98%;
  background-color: white;
  display: flex;
  align-items: center;
  border: 2px solid black;
  border-radius: 1rem;

  .search-bar-icon {
    margin: 0 0.5rem;
    cursor: text;
  }

  .search-form {
    width: 100%;
    height: 100%;
    padding: 0 0.5rem;
  }

  .search-bar {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-radius: 0 1rem 1rem 0;
    font-size: 1rem;
  }

  &:focus-within {
    border: 2px solid v.$tertiary-color;
  }
}

.search-bar-container-flattened {
  border-radius: 0.25rem;
}

@media (max-width: 476px) {
  .search-and-results {
    grid-area: search;
  }
}
