@use "../../variables" as v;

.navigation-bar {
  z-index: 9999;
  width: 100%;
  min-height: 62px;
  position: fixed;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  background-color: v.$primary-color;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.site-name-link {
  margin: 0 auto 0 1rem;
}

.site-name,
.favorites {
  color: v.$secondary-color;
}

.site-name-acronym {
  color: v.$secondary-color;
  display: none;
}

.favorites-link {
  margin: 0 1rem 0 auto;
}

.favorite-icon {
  display: none;
  width: 30px;
  height: 30px;
  text-align: center;

  svg {
    overflow: visible;
    vertical-align: middle;
    margin-left: 1px;
  }
}

@media (max-width: 1147px) {
  .site-name {
    display: none;
  }
  .site-name-acronym {
    display: block;
  }
}

@media (max-width: 700px) {
  .favorites {
    display: none;
  }
  .favorite-icon {
    display: block;
  }
}

@media (max-width: 476px) {
  .navigation-bar {
    padding-bottom: 0.5rem;
    grid-template-areas:
      "home . . favorites"
      "search search search search";
    grid-template-rows: 1fr 1fr;
  }

  .site-name-link {
    grid-area: home;
  }

  .favorites-link {
    grid-area: favorites;
  }

  // search grid-area can be found in SearchBar.module.scss
}
