@use "../../variables" as v;

.navigation-bar {
  z-index: 9999;
  width: 100%;
  min-height: 62px;
  position: fixed;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  background-color: v.$primary-color;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.site-name {
  color: v.$secondary-color;
  margin-left: 1rem;
}
