@use "../../variables" as v;

.navigation-bar {
  z-index: 9999;
  width: 100%;
  min-height: 62px;
  position: fixed;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  background-color: v.$primary-color;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.site-name-link {
  margin: 0 auto 0 1rem;
}

.site-name {
  color: v.$secondary-color;
}

.site-name-acronym {
  color: v.$secondary-color;
  display: none;
}

@media (max-width: 788px) {
  .site-name {
    display: none;
  }
  .site-name-acronym {
    display: block;
  }
}
