@use "../../variables" as v;

.footer {
  background-color: v.$primary-color-dark;
  color: v.$text-color;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    color: v.$text-color;
  }

  .tmdb-shout-out {
    width: 200px;
    margin-bottom: 0.25rem;
  }

  .copyright {
    margin: 0.5rem 0;
  }

  a {
    margin-top: 1.25rem;
  }

  .github-icon {
    // margin-top: 1.25rem;
    color: v.$secondary-color;
    width: 2rem;
    height: auto;
  }
}
