@use "../../variables" as v;

.footer {
  background-color: v.$primary-color;
  filter: brightness(85%);
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    color: #eeeeee;
  }
}

.tmdb-shout-out {
  width: 200px;
}
