@use "../../variables" as v;

.search-result {
  line-height: 2rem;
  display: block;
  width: 98%;
  align-self: center;
  margin-bottom: 0.1rem;

  .search-result-link-and-info {
    height: 3.75rem;
  }
}

.search-link {
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  height: 100%;
  color: v.$text-color;
  border-radius: 0.25rem;

  .image {
    vertical-align: middle;
    width: 2rem;
    height: auto;
    margin-right: 0.75rem;
  }

  &:hover,
  &:focus {
    background-color: v.$primary-color-light;
  }

  &:focus {
    // outline is disabled here since there is a clear visual cue for the focused element
    outline: none;
  }
}
