$font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$primary-color: #3a322d;
$primary-color-light: #574b43;
$secondary-color: #ff1919;
$tertiary-color: #ffff00;
