$font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$primary-color: #3a322d;
$primary-color-light: #4e4742;
$primary-color-light-alt: #574b43;
$primary-color-dark: #312a26;
$secondary-color: #ff1919;
$tertiary-color: #ffff00;
$text-color: #eeeeee;
$notification-color: #ffc0cb;
$movie-page-small: 650px;
$navbar-mobile: 476px;
