@use "../../variables" as v;

.header {
  color: v.$secondary-color;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
}

.movies-container {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 3.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  gap: 1.5rem;
}
