@use "../../variables" as v;

.movies-container {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 3.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  justify-content: center;
  gap: 1.5rem;
}

@media (min-width: 1598px) {
  .movies-container {
    grid-template-columns: repeat(5, 1fr);
  }
}
