@use "../../variables" as v;
.error {
  margin-top: 5rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: v.$primary-color;
  color: v.$text-color;

  h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 7rem;
  }
}

.sorry-text {
  font-size: 2em;
}

.home-link {
  font-size: 2rem;
  color: v.$secondary-color;
  margin-bottom: 7rem;
}
